# commons
click
pytest
pytest-dotenv
pre-commit
# crypto
pycryptodome
cryptography
# imageing
Pillow
# audio
pydub
-e ./external/mp3-steganography-lib
numba  # needed by mp3stego-lib
tqdm  # needed by mp3stego-lib
bitarray  # needed by mp3stego-lib
# math
numpy
scipy
# text and pdf
PyMuPDF